
ALTER TABLE public.departments ADD COLUMN IF NOT EXISTS total_units INT DEFAULT 10;
ALTER TABLE public.reports DROP CONSTRAINT IF EXISTS reports_priority_check;
ALTER TABLE public.reports ADD CONSTRAINT reports_priority_check CHECK (priority BETWEEN 0 AND 100);
ALTER TABLE public.reports ADD COLUMN IF NOT EXISTS dispatched_units INT DEFAULT 0;

